.articleSection {
    width: 98%;
    margin: 6px;
}
section.article {
    border-bottom: 1px solid #cecece;
    padding: 15px 0;
    h1 {
        font-size: 1rem;
        text-transform: uppercase;
        color: #546165;
        &:hover {
            text-decoration: underline;
            color: #237dac;
        }
    }
    .article-img {
        display: inline-block;
        padding: 2px 15px 2px 5px;
        width: 100px;
        max-width: 100px;
        img {
            width: 100%;
            height: auto;
            max-width: 100%;
        }
    }
    p {
        font-size: 0.9rem;
        color: #282828;
        margin: 3px 0;
    }
    .tags {
        span {
            padding: 1px 6px;
            margin: 2px 3px;
            background: #e3eaf3;
            border-radius: 3px;
            font-size: 10px;
            line-height: 13px;
            font-weight: 600;
            font-family: 'Open Sans', Helvetica, sans-serif;
            text-transform: uppercase;
            display: inline-block;
            -webkit-transition: 0.1s ease-in;
            -moz-transition: 0.1s ease-in;
            -o-transition: 0.1s ease-in;
            transition: 0.1s ease-in;
        }
    }
}
code.default {
    text-transform: lowercase !important;
    font: 18px Consolas, "Liberation Mono", Menlo, Courier, monospace !important;
}


.linenums{
    li{
        list-style-type: none !important  
    }
}

pre.prettyprint {
    padding: 5px;
    border: 0 !important;
}