
header, .header {
    background: #607d8b;
    box-shadow: 0 0 4px rgba(0,0,0,.14), 0 4px 8px rgba(0,0,0,.28);
    color: #fff;
    margin-bottom: 16px;
    .logo:hover {
        text-decoration: none;
    }
    .author {
        margin: 15px 0 0;
        .info {
            display: inline-block;
            margin: 8px 10px 0 0;
            vertical-align: top;
            h1,
            h2 {
                text-align: right;
                color: #fff;
            }
            h1 {
                font-size: 1.1rem;
            }
            h2 {
                font-size: 0.5rem;
            }
        }
        .pic {
            display: inline-block;
            width: 66px;
            height: 70px;
            border-radius: 35px;
            background: url("/resource/image/me_small.png") right top no-repeat;
            background-size: contain;
        }
    }
}
.content-fauxcolumn-outer,
.content-outer,
.header-content,
.region-inner {
    max-width: 1250px;
    margin: 0 auto;
}