.articles{
    max-width: 1000px;
    margin: 10px auto;
}



.articles .separator{
    height: 20px;
    display: block;
}
.article .separator{
    height: 6px;
    display: block;
}

.article{
    display: block !important;
    visibility: visible !important;
    max-width: 700px;
    border: 2px solid #eceef1;
    text-shadow: none;
    box-shadow: 0 2px 0 #eceef1;
    background-color: white;
    max-width: 100%;
    border-radius: 6px;
}

.article .table{
    border-bottom: 1px solid #eceef1;
    color: rgb(173, 167, 167);
    width: 100%;
}
.article .table:hover{
    color: rgb(51, 163, 211);
    cursor: pointer;
}
.article .logo{
    vertical-align: middle;
    width: 70px;
    object-fit: contain;

}
.article-container{
    padding: 20px;
}
.article .heading{
    padding: 14px;
    color: darkslategray;
    column-span: all;
}

.article .heading:hover{
    color: rgb(8, 133, 187);
}

.article>h1{
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    background: #607d8b;
    box-shadow: 0 0 4px rgba(0,0,0,.14), 0 4px 8px rgba(0,0,0,.28);
    color: white;
    padding: 8px;
    font-size: 1.1rem;
    text-transform: uppercase;

}


.article ul{
    padding: 30px;
}