
* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

html, body {overflow-x: hidden;}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  vertical-align: baseline;
  background: transparent;
}

:focus { outline: 0 }

.clearfix:after {
  content: "";
  display: block;
  clear: both;
  visibility: hidden;
  font-size: 0;
  height: 0;
}
.clearfix {
  *display: inline-block;
  height: 1%;
}

.hide {display:none;}
.show {display: block;}


/* ===[ Text Formatting ]=== */

html {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

body {
  margin: 0;
  padding: 0;
  color: #404040;
  background: #fff;
  font-family: 'Open Sans', Helvetica, sans-serif;
  font-size: 1.125em; /*18px*/
  line-height: 1.875;
}

::selection {
  background: #e1eed3;
	color: #404040;
}
::-moz-selection {
	background: #e1eed3;
	color: #404040;
}
::-webkit-selection {
  background: #e1eed3;
	color: #404040;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 600;
  line-height: 1.5;
  margin: 0 0 0.5em;
}
h1 {
	font-size: 2.111em; /*38px*/
	color: #404040;
}
h2 {
	font-size: 1.444em; /*26px*/
	color: #545d65;
}
p ~ h2 {margin-top: 2em;}
h3 {
	font-size: 1.111em; /*20px*/
    color: #778088;
}
h4 {
	font-size: 0.889em; /*16px*/
	color: #9ca8b2;
}
h5 {
	font-size: 0.875em; /*14px*/
	color: #9ca8b2;
}
h6 {
	font-size: 0.667em; /*12px*/
	color: #9ca8b2;
	text-transform: uppercase;
}

p {margin: 0 0 1.25em;}

small {font-size: 0.667em; /*12px*/}

a {
	color: #365ebe;
	text-decoration: none;
	/*-webkit-transition: .07s ease-in;
	-moz-transition: .07s ease-in;
	-o-transition: .07s ease-in;
	transition: .07s ease-in;*/
}
a:hover {
	color: #1c3a84;
	text-decoration: none;
	-webkit-transition: .07s ease-in;
	-moz-transition: .07s ease-in;
	-o-transition: .07s ease-in;
	transition: .07s ease-in;
}

ol, ul { list-style: none }

blockquote, q { quotes: none }
blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none;
}
blockquote {
  padding: 5px 15px;
  padding-bottom: 1px;
  margin: 2rem 0;
  font-size: 1.1rem;
  background-color: #f9f9f9;
  border-left: 7px solid #adb2b7;
  vertical-align: middle;
}


        body{
            font-size: 100%;
        }
        

.PageList{
    position: fixed;
    height: 100%;
    left: 0;
    top: 0;
    width: 300px;

     nav {
      margin: 0;
      display: block;
    }


    nav ul{
        list-style: none;
    }

     nav ul li a {
    	display: block;
    	color: #68747f;
    	padding: 10px 10%;
    	width: 100%;
      border-bottom: 1px solid #3c454e;
    }

     nav ul li a:hover {
      background-color: #28313a;
      color: #e3eaf3;
      -webkit-transition: .1s ease-in;
      -moz-transition: .1s ease-in;
      -o-transition: .1s ease-in;
      transition: .1s ease-in;
    }

     nav ul li {
      background-color: #28313a;
      -webkit-transition: background-color .1s ease-in;
      -moz-transition: background-color .1s ease-in;
      -o-transition: background-color .1s ease-in;
      transition: background-color .1s ease-in;
    }
}


.articlesContainer{
    margin-left: 300px;
}


/* Nav Styles */
