.articles{
    max-width: 1000px;
    margin: 10px auto;
}



.articles .separator{
    height: 20px;
    display: block;
}
.article .separator{
    height: 20px;
    display: block;
}

.article{
    display: block !important;
    visibility: visible !important;
    max-width: 700px;
    max-width: 90%;
    border-radius: 6px;
}

.article .table{
    border-bottom: 1px solid #eceef1;
    color: rgb(173, 167, 167);
    width: 100%;
    border-left: 5px solid lightgray;
}
.article .table:hover{
    color: rgb(51, 163, 211);
    cursor: pointer;
    border-left: 5px solid rgb(51, 163, 211);
}
.article .logo{
    vertical-align: middle;
    width: 70px;
    object-fit: contain;
    padding-left: 30px;

}
.article-container{
    padding: 20px;
}
.article .heading{
    padding: 14px;
    color: darkslategray;
    column-span: all;
}

.article .heading:hover{
    color: rgb(8, 133, 187);
}
