table.view-table {
    border-spacing: 1;
    border-collapse: collapse;
    background: white;
    border-radius: 6px;
    overflow: hidden;
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
    position: relative;
}

table.view-table  * {
    position: relative;
}

table.view-table  td,
table.view-table  th {
    padding-left: 8px;
}

table.view-table  thead tr {
    height: 40px;
    background: #327a81;
    font-size: 16px;
}

table.view-table  tbody tr {
    height: 48px;
    border-bottom: 1px solid #327a81;
}

table.view-table  tbody tr:last-child {
    border: 0;
}

table.view-table  th {
    text-align: center;
    vertical-align: middle;
}

table.view-table  td{
    text-align: left;
}