#Generated
node_modules/
bower_components/
build/
npm-debug.log

#IDE Specific files

#Atom
*.tern-project
#SublimeText
*.sublime-project
*.sublime-workspace

#Eclipse
.project

#OSX
.DS_Store

#Mocha
.tmp/
