@keyframes slideFromLeft {
    0% {
        transform: translateX(-20%);
    }

    100% {
        transform: translateX(0%);
    }
}

@keyframes slideFromRight {
    0% {
        transform: translateX(20%);
    }

    100% {
        transform: translateX(0%);
    }
}

@keyframes slideFromTop {
    0% {
        transform: translateY(-100%);
    }

    100% {
        transform: translateY(0%);
    }
}

@keyframes slideFromBottom {
    0% {
        transform: translateY(20%);
    }

    100% {
        transform: translateY(0%);
    }
}
