@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;1,300&display=swap');

$mobile-breakpoint: 500px;
$tablet-breakpoint: 768px;

:root {
    --primary-color: #6bb696;
    --secondary-color: #1c3fa8;
    --dark-color: #002240;
    --light-color: #f4f4f4;
    --success-color: #5cb85c;
    --error-color: #d9534f;
}

@import 'reset';
@import 'util';
@import 'animations';
@import 'header';
@import 'home';
@import 'post';
@import 'footer';
@import 'native';

main {
    min-height: calc(100vh-100px);
}

@media (max-width: $tablet-breakpoint) {
    .grid {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
    }
}
