.docs {
    .grid {
        grid-template-columns: 1fr 2fr;
        align-items: flex-start;
    }

    nav li {
        font-size: 1rem;
        padding-bottom: 5px;
        margin-bottom: 5px;
        border-bottom: 1px solid #ccc;
    }

    nav a:hover {
        font-weight: bold;
    }

    @media (max-width: $tablet-breakpoint) {
        .grid {
            grid-template-columns: 1fr;
            grid-template-rows: 1fr;
        }
    }
}

.docs-head {
    img {
        width: 200px;
        justify-self: flex-end;
    }
}
