.features-head {
    img {
        width: 200px;
        justify-self: flex-end;
    }

    @media (max-width: $tablet-breakpoint) {
        img {
            justify-self: center;
        }
    }
}

.features-sub-head {
    img {
        width: 300px;
        justify-self: flex-end;
    }

    @media (max-width: $tablet-breakpoint) {
        img {
            justify-self: center;
        }
    }
}

.features-main {
    *:first-child {
        grid-column: 1 / span 3;
    }
    *:nth-child(2) {
        grid-column: 1 / span 2;
    }

    @media (max-width: $tablet-breakpoint) {
        *:first-child {
            grid-column: 1;
        }
        *:nth-child(2) {
            grid-column: 1;
        }
    }

    .card > i {
        margin-right: 20px;
    }

    @media (max-width: $tablet-breakpoint) {
        .grid {
            grid-template-columns: 1fr;
            grid-template-rows: 1fr;
        }
    }
}
