.logo {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    cursor: pointer;
    img {
        width: 70px;
        height: 70px;
        border-radius: 70px;
        margin-right: 10px;
    }

    h1 {
        font-family: monospace;
        font-size: 50px;
        padding: 5px;
        color: var(--primary-color);
    }


    @media (max-width: $mobile-breakpoint) {
        justify-content: center;
        align-items: center;
        background-color: var(--primary-color);
        color: white;
        img {
            display: none
        }

        h1 {
            font-size: 20px;
            padding: 3px;
            color: white;
        }
    }


    
}
