.showcase {
    height: 400px;
    background-color: var(--primary-color);
    position: relative;
    color: #ffffff;

    h1 {
        font-size: 40px;
    }

    p {
        margin: 20px 0;
    }

    .grid {
        grid-template-columns: 55% 45%;
    }

    .showcase-text {
        animation: slideFromLeft 1s ease-in;
    }

    .showcase-form {
        position: relative;
        top: 60px;
        height: 350px;
        width: 400px;
        padding: 40px;
        overflow: visible;
        z-index: 100;
        animation: slideFromRight 1s ease-in;
        .form-control {
            margin: 30px 0;
        }

        input[type='text'],
        input[type='email'] {
            border: 0;
            border-bottom: 1px solid #b4becb;
            width: 100%;
            padding: 3px;
            font-size: 16px;
        }

        input:focus {
            outline: 0;
        }
    }

    &::before,
    &::after {
        content: '';
        position: absolute;
        height: 100px;
        bottom: -70px;
        right: 0;
        left: 0;
        background-color: white;
        transform: skewY(-2deg);
    }

    @media (max-width: $tablet-breakpoint) {
        & {
            height: auto;
        }

        .showcase-text {
            text-align: center;
            margin-top: 40px;
        }

        .showcase-form {
            justify-self: center;
            margin: auto;
        }
    }
}

.stats {
    padding-top: 100px;
    animation: slideFromBottom 1s ease-in;
    .stats-heading {
        max-width: 500px;
        margin: auto;
    }

    .fas {
        font-size: 3rem;
    }
    .grid {
        h3 {
            font-size: 2rem;
        }
        @media (max-width: $tablet-breakpoint) {
            .fas {
                font-size: 2rem;
            }
            h3 {
                font-size: 1.5rem;
            }

            div p {
                font-size: 1rem;
            }
        }
        @media (max-width: $mobile-breakpoint) {
            .fas {
                font-size: 1.5rem;
            }
            h3 {
                font-size: 1rem;
            }
            div p {
                font-size: 0.8rem;
            }
        }
    }

    .grid {
        grid-template-columns: repeat(3, 1fr);
    }

    .grid p {
        font-size: 20px;
        font-weight: bold;
    }
}

.cli {
    .grid {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);

        & > *:first-child {
            grid-column: 1 / span 2;
            grid-row: 1 / span 2;
        }
    }
}

.cloud {
    .grid {
        grid-template-columns: 4fr 3fr;
    }
}

.languages {
    .flex {
        flex-wrap: wrap;
    }
    .card {
        text-align: center;
        margin: 18px 10px 40px;
        cursor: pointer;
        transition: transform 0.2s ease-in;

        h4 {
            font-size: 20px;
            margin-bottom: 10px;
        }

        &:hover {
            transform: translateY(-15px);
        }
    }
}

@media (max-width: $tablet-breakpoint) {
    .showcase .grid,
    .cli .grid,
    .cloud .grid {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
    }
}
