.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 40px;
    @media (max-width: $tablet-breakpoint) {
        & {
            padding: 0 4px;
        }
    }
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    justify-content: center;
    align-items: center;
    height: 100%;

    &.grid-3 {
        grid-template-columns: repeat(3, 1fr);
    }
}

.card {
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
    padding: 20px;
    margin: 10px;
    color: #333;
}

.btn {
    display: inline-block;
    padding: 10px 30px;
    cursor: pointer;
    background: var(--primary-color);
    border-radius: 5px;
    color: #fff;
    border: none;
    border-radius: 5px;

    &:hover {
        transform: scale(0.95);
    }

    &.btn-outline {
        background-color: transparent;
        border: 1px #fff solid;
    }
}

.bg-primary,
.btn-primary {
    background-color: var(--primary-color);
    color: #fff;

    a,
    i {
        color: #fff;
    }
}

.bg-secondary,
.btn-secondary {
    background-color: var(--secondary-color);
    color: #fff;
    a {
        color: #fff;
    }
}

.bg-dark,
.btn-dark {
    background-color: var(--dark-color);
    color: #fff;
    a {
        color: #fff;
    }
}

.bg-light,
.btn-light {
    background-color: white;
    color: #333;
}

.text-center {
    text-align: center;
}

// Alerts

.alert {
    padding: 10px 20px;
    margin: 15px 0;
    font-weight: bold;
    i {
        margin-right: 10px;
    }

    &.alert-success {
        background-color: var(--success-color);
        color: #fff;
    }

    &.alert-error {
        background-color: var(--error-color);
        color: #fff;
    }
}

pre {
    padding: 20px 30px;
    font-size: 14px;
    margin: 40px 0;
    overflow: auto;
}

code.language-plaintext {
    padding: 0.2em 0.4em;
    margin: 0;
    font-size: 0.9rem;
    background-color: rgb(234, 237, 240);
    border-radius: 6px;
}

h1 {
    code.language-plaintext {
        font-size: 1.8rem;
    }
}
h2 {
    code.language-plaintext {
        font-size: 1.4rem;
    }
}

h3 {
    code.language-plaintext {
        font-size: 1rem;
    }
}

// Fonts

.lead {
    font-size: 20px;
}
.sm {
    font-size: 1rem;
}

.md {
    font-size: 2rem;
}

.lg {
    font-size: 3rem;
}

.xl {
    font-size: 4rem;
}

/* Margin */

.m {
    &-1 {
        margin: 1rem;
    }

    &-2 {
        margin: 1.5rem;
    }

    &-3 {
        margin: 2rem;
    }
    &-4 {
        margin: 3rem;
    }

    &-5 {
        margin: 4rem;
    }
}

/* Margin Y-axis */
.my {
    &-1 {
        margin: 1rem 0;
    }

    &-2 {
        margin: 1.5rem 0;
    }

    &-3 {
        margin: 2rem 0;
    }
    &-4 {
        margin: 3rem 0;
    }

    &-5 {
        margin: 4rem 0;
    }
    &-6 {
        margin: 5.5rem 0;
    }
    &-7 {
        margin: 6.5rem 0;
    }
    &-8 {
        margin: 7.5rem 0;
    }
}

/* Padding */

.p {
    &-1 {
        padding: 1rem;
    }

    &-2 {
        padding: 1.5rem;
    }

    &-3 {
        padding: 2rem;
    }

    &-4 {
        padding: 3rem;
    }

    &-5 {
        padding: 4rem;
    }
}

/* Margin Y-axis */

.py {
    &-1 {
        padding: 1rem 0;
    }

    &-2 {
        padding: 1.5rem 0;
    }

    &-3 {
        padding: 2rem 0;
    }

    &-4 {
        padding: 3rem 0;
    }

    &-5 {
        padding: 4rem 0;
    }
}
