/* reset browser styles - start*/

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1.2;
}
ul {
    padding-left: 1.4em;
    list-style: square;
}
table {
    border-spacing: 0;
}
/* reset browser styles -  end */

/* reusable style - start */

.table {
    display: table;
    table-layout: fixed;
}
.tableRow {
    display: table-row;
    vertical-align: top;
}
.tableCell {
    display: table-cell;
    vertical-align: top;
}
/* reusable style - end */

/* body structure - start*/

.wrraper {
    margin: 45px 100px;
    padding: 10px;
    border-radius: 5px;
    background: white;
    box-shadow: 0 0 8px 2px rgba(0, 0, 0, .7);
}
.content {
    max-width: 1400px;
    min-width: 770px;
    width: 100%;
    padding-bottom: 10px;
}
.add {
    max-width: 300px;
    min-width: 300px;
    height: 800px;
    margin: 5px;
    text-align: center;
     background: #f2f2f2;
  padding: 1em;
}

.add h1{

    color: #c4c4c4;
     text-transform: uppercase;
}
header, footer {
    width: 100%;
}
header {
    height: 80px;
}
footer {
    height: 96px;
    background-color: #778899;
}
/* body structure - end*/

/* body style - start*/

body {
    background: #345 url(/resource/image/bg.gif) 0 0 fixed;
    background: -webkit-linear-gradient(rgba(204, 229, 255, .15), rgba(0, 0, 0, .3)) fixed, #345 url(/resource/image/bg.gif) 0 0 fixed;
    background: linear-gradient(rgba(204, 229, 255, .15), rgba(0, 0, 0, .3)) fixed, #345 url(/resource/image/bg.gif) 0 0 fixed;
    color: #323A3F;
    font-family: Tahoma, Geneva, sans-serif;
}
a {
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
.logo {
    margin: 10px 0 0 10px;
}
.content>h1 {
 
    margin-left: -30px;
    margin-top: 30px;
    margin-bottom: 30px;
    position: relative;
    width: 97%;

    font-size: 1em;
    font-weight: normal;
    padding: 4px 0 4px 30px;
    text-transform: uppercase;
    background: #428BCA;
    color: white;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
}

.arrow {
    width: 1px;
    height: 0;
    line-height: 0;
    border-left: 20px solid transparent;
    border-top: 10px solid #4274ca;
    top: 100%;
    left: 0;
    position: absolute;
}

.content > h2{
    color: #3576BE;
    font-weight: normal;
     font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
}

.content ol{
    margin: 10px 0 40px 10px;
      background: #EEE;
  padding: 1em;
  border-left: 5px solid #69c773;
  width: 600px;
   
}

.content ol li{
     line-height: 1.1em;
     margin-left: 20px;


}


.topic {
    padding: 3px 7px;
    margin: 10px 15px;
    font-size: 0.9rem;
    display: inline-block;
    width: 42%;

        background: #f2f2f2;
  padding: 1em;
  border-left: 6px solid #69c773;
}

.topic .image {
    margin: 2px;
    margin-right: 8px;
    padding: 2px;
    display: inline-block;
    float: left;
}

.topic h1 {
    font-size: 1em;
    font-weight: 600;
    text-transform: uppercase;
    color: #2e6da3;
    margin-bottom: 10px;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
}
.topic .content p {
    margin: 0 !important;
    padding: 0;
    color: #333;
    font-size: 1em;
    width: 55%;
}

.topic .content .readMore{
    margin: 1px 0 2px 5px;
    color: #237DAC;;
     line-height: 1.2;
      font-size: .9em;

}

.topic .content .tech{
    margin: 10px 0 0 5px;
    font-style: normal;
color: #858585;
font-size: .8em;
word-wrap: break-word;
}
.clearBoth{
    clear: both;
}

.upperCase{
    text-transform: uppercase;
}

.demo {} .instruction {
    margin: 2px 0 15px 45px;
}

.gitHubIcon{
    margin: 0 0 0 50px;
}

/* body style - end*/