/* reset browser styles */

h1, h2, h3, h4, h5 {
    margin: 0;
    padding: 0;
}
body {
    line-height: 1.2;
}
ol {
    padding-left: 1.4em;
    list-style: decimal;
}
ul {
    padding-left: 1.4em;
    list-style: square;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
/* end reset browser styles */

body {
    background-color: #EEF0F8;
    font-family: Arial, "Lucida Grande", sans-serif;
    font-size: 1em;
    margin: 0;
    padding: 0;
    background-color: #EEF0F8;
}
header {
    background-color: #1086C1;
    margin: 2px;
    padding-left: 80px;
}
div#tableContainer {
    display: table;
    border-spacing: 8px;
    width: 90%;
    max-width: 2000px;
    border-collapse: collapse;
    margin: 4px;
    margin-left: 80px;
}
div#tableRow {
    display: table-row;
}
h1, h2, h3 {
    font-family: Helvetica, Arial, "Lucida Grande", sans-serif;
    color: #333333;
}
h1 {
    font-size: 1.4em;
}
h2 {
    font-size: 1.2em;
}
h3 {
    font-size: 1em;
}
a:link {
    color: #237DAC;
    text-decoration: none;
}
a:hover {
    color: #237DAC;
    text-decoration: underline;
}
a:visited {
    color: #237DAC;
    text-decoration: none;
}
.table {
    display: table;
    border-collapse: separate;
}
.tableRow {
    display: table-row;
}
.tableCell {
    display: table-cell;
    vertical-align: top;
}
.logo:hover {
    text-decoration: none;
}
.logo h1 {
    color: #FFFFFF;
    font-size: 3.5em;
    line-height: 2em;
    font-family: "Courier New", "Courier", monospace;
}
/* added section#blog for blog */

.section-heading {
    margin-left: -35px;
    margin-top: 20px;
    margin-bottom: 20px;
    position: relative;
    display: inline-block;
    font-size: 1em;
    font-weight: bold;
    border-radius: 2px;
    text-transform: uppercase;
    text-align: left;
    padding: 6px 40px 6px 30px;
    background: rgb(229, 76, 16);
    background: -webkit-linear-gradient(rgb(229, 76, 16), rgb(173, 54, 8));
    background: -moz-linear-gradient(rgb(229, 76, 16), rgb(173, 54, 8));
    background: -o-linear-gradient(rgb(229, 76, 16), rgb(173, 54, 8));
    background: linear-gradient(rgb(229, 76, 16), rgb(173, 54, 8));
    color: white;
}
.arrow {
    width: 1px;
    height: 0;
    line-height: 0;
    border-left: 20px solid transparent;
    border-top: 10px solid rgb(173, 54, 8);
    top: 100%;
    left: 0;
    position: absolute;
}
section.main {
    display: table-cell;

    font-size: 105%;
    padding: 15px;
    vertical-align: top;
    background-color: #FFFFFF;
}
section p, ul li {
    font-size: 15px;
    margin: 5px 0;
}
aside.add {
    display: table-cell;
    padding: 2px 0 0 10px;
    vertical-align: top;
    width: 315px;
}
.articleTable {
    border-spacing: 20px;
}
article.article {
    width: 45%;
    min-width: 350px;
    background-color: rgba(238, 238, 238, 0.3);
    margin: 10px 2%;
    vertical-align: top;
    border-left: 5px solid #69c773;
}
article.article .heading {
    padding: 10px;
    padding-bottom: 0;
}
article.article .heading h1 {
    margin: 0;
    padding: 0;
    text-transform: uppercase;
    font-size: .9em;
}
article.article .image {
    display: table-cell;
    width: 120px;
    vertical-align: top;
    border: 5px solid rgba(238, 238, 238, 0.9);
}
article.article .body {
    display: table;
    table-layout: fixed;
}
article.article .contentWrraper {
    display: table-row;
}
article.article .content {
    display: table-cell;
}
article.article .content .desc {
    margin: 2px 2px 5px 2px;
    font-size: .9em;
}
article.article .content .tech {
    margin: 12px 2px 1px 2px;
    font-size: .9em;
}
article.article .content .readMore {
    margin: 1px 2px 5px 2px;
    font-size: .8em;
    text-transform: uppercase;
    color: #237DAC;
    vertical-align: bottom;
}
.demo-wrraper {} .demo-wrraper article {
    width: 70%;
}
.main ol {
    margin: 10px 0 40px 10px;
    background: #EEE;
    padding: 1em;
    border-left: 5px solid #69c773;
    width: 600px;
}
.main ol li {
    line-height: 1.1em;
    margin-left: 20px;
}
footer {
    background-color: #1086C1;
    color: #efe5d0;
    text-align: center;
    padding: 35px;
    margin: 20px 10px 10px 10px;
    font-size: 1.1em;
}
footer a {
    color: #efe5d0 !important;
    font-size: .9em;
}
footer a:visited {
    color: #efe5d0 !important;
}
iframe {
    border: 0;
}
.loadingBox {
    color: #89BDFF;
}
.codeFrame {
    width: 100%;
    border: 2px solid rgba(238, 238, 238, 0.5);
}
.demoPageArticle {
    display: block;
    margin: 10px;
    width: 50% !important;
}
.author {
    margin: 15px;
    float: right;
}
.author .info {
    display: inline-block;
    vertical-align: top;
    color: #FFFFFF;
    margin: 30px 10px 0 0;
}
.author .info h1 {
    font-size: 1.2em;
    color: #FFFFFF;
    text-align: right;
}
.author .info h2 {
    font-size: .7em;
    color: #FFFFFF;
    text-align: right;
}
.author .pic {
    width: 80px;
    height: 80px;
    border-radius: 40px;
    background: url(/resource/image/me_small.png) no-repeat right top;
    margin: 0;
    margin-right: 10px;
    display: inline-block;
}
.articleTitle {
    margin: 10px 0 20px 0;
    font-size: 1.3em;
}
.articleSection {
    min-width: 600px;
    margin: 8px;
    vertical-align: top;
    display: table;
    border-spacing: 20px;
    width: 98%;
}
.indexPageBody{
   background-color: white !important; 
}
.indexPageContainer{
   background-color: rgba(238, 238, 238, 0.5) !important; 
}
.articleSection article {
    display: table-row;
   background-color: white;
  /*  background-color: rgba(238, 238, 238, 0.3);*/
    border-bottom: 10px solid rgba(238, 238, 238, 0.3);
}
/*.articleSection article:hover {
    background-color: rgba(238, 238, 238, 0.8);
}*/
.articleSection article div {
    display: table-cell;
    vertical-align: top;
    padding: 8px;
}
.articleSection article .articleImg {
    width: 140px;
}
.articleSection article .articleImg img {
    border: 5px solid rgba(238, 238, 238, 0.7);
}
.articleSection article .articleBody {
    border: 15px;
}
.articleSection article .articleBody h1 {
    font-size: 1em;
    text-transform: uppercase;
}
.articleSection article .articleBody h1:hover {
   color: #237DAC;
    text-decoration: underline;
}

.articleSection article .articleBody p {
    font-size: .8em;
}
.articleSection article .articleBody .readMore {
    font-size: .8em;
    text-transform: uppercase;
}