@media (min-width: 770px) {
    .showOnMobile {
        display: none;
    }
}

@media (max-width: 768px) {
    .content-outer, .content-fauxcolumn-outer, .region-inner {
        width: 100%;
    }
    .main-inner .columns {
        padding-left: 0;
        padding-right: 0;
    }
    .main-inner .column-right-outer {
        position: static;
        float: none;
        width: 100%;
        margin-right: 0;
        display: block;
    }
    .column-center-outer, .column-left-outer, .column-right-outer {
        position: static;
        float: none;
    }
    .articleImg {
        display: none;
    }
    .author {
        margin: 2px;
        .pic {
            width: 40px;
            height: 40px;
        }
    }
    .logo {
        h1 {}
    }
    .author {
        .info {
            h1 {
                font-size: .8rem;
            }
            h1 {
                font-size: .4rem;
            }
        }
    }
    .logo h1 {
        font-size: 1.2em;
        line-height: 2em;
    }
    .articleSection {
        margin: 1px;
        article {
            margin-bottom: 1rem;
            border-left: 0;
            -webkit-box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.2);
            box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.2);
            &:hover {
                border-left: 0;
            }
            div {
                padding: 3px;
            }
            p.desc {
                img {
                    display: block;
                    float: left;
                    padding: 2px;
                    width: 35%;
                }
            }
        }
    }
}
