* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    font-size: 16px;
}

html {
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased
}

body {
    margin: 0;
    padding: 0;
    color: #404040;
    background: #fff;
    font-family: 'Open Sans', Helvetica, sans-serif;
    font-size: 1.125em;
    line-height: 1.875
}

::selection {
    background: #e1eed3;
    color: #404040
}

::-moz-selection {
    background: #e1eed3;
    color: #404040
}

::-webkit-selection {
    background: #e1eed3;
    color: #404040
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 600;
    line-height: 1.5;
    margin: 0 0 .5em;
    text-transform: uppercase
}

h1 {
    font-size: 1.4em;
    color: #404040
}

h2 {
    font-size: 1.1em;
    color: #545d65
}

p~h2 {
    margin-top: 2em
}

h3 {
    font-size: 1.111em;
    color: #778088
}

h4 {
    font-size: .889em;
    color: #9ca8b2
}

h5 {
    font-size: .875em;
    color: #9ca8b2
}

h6 {
    font-size: .667em;
    color: #9ca8b2;
    text-transform: uppercase
}

header h1 {
    text-transform: lowercase
}

p {
    margin: 0 0 1.25em
}

small {
    font-size: .667em
}

a {
    color: #365ebe;
    text-decoration: none;
    -webkit-transition: .07s ease-in;
    -moz-transition: .07s ease-in;
    -o-transition: .07s ease-in;
    transition: .07s ease-in
}

a:hover {
    color: #1c3a84;
    text-decoration: none;
    -webkit-transition: .07s ease-in;
    -moz-transition: .07s ease-in;
    -o-transition: .07s ease-in;
    transition: .07s ease-in
}

ol {
    margin-left: 25px!important;
    margin-top: 2px!important;
    margin-bottom: 10px!important;
    padding-left: 1.4em!important;
    list-style: decimal!important
}

ol li {
    font-size: .9em!important
}

ul {
    padding-left: 1.4em!important;
    list-style: square
}

table {
    border-spacing: 0;
    border-collapse: collapse
}

header {
    padding-left: 80px;
    background-color: #1086c1
}

img {
    max-width: 100%;
    max-height: 100%
}

div#tableContainer {
    display: table;
    width: 90%;
    max-width: 2000px;
    margin: 4px 4px 4px 80px;
    border-spacing: 8px;
    border-collapse: collapse
}

div#tableRow {
    display: table-row
}

.hide {
    display: none
}

.show {
    display: block
}

.table {
    display: table;
    border-collapse: separate
}

.tableRow {
    display: table-row
}

.tableCell {
    display: table-cell;
    vertical-align: top
}



.section-heading {
    font-size: 1em;
    font-weight: 700;
    position: relative;
    display: inline-block;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: -37px;
    padding: 5px 40px 3px 30px;
    text-align: left;
    text-transform: uppercase;
    color: #fff;
    border-radius: 2px;
    background: #e54c10;
    background: -webkit-linear-gradient(#e54c10, #ad3608);
    background: -moz-linear-gradient(#e54c10, #ad3608);
    background: -o-linear-gradient(#e54c10, #ad3608);
    background: linear-gradient(#e54c10, #ad3608)
}

.arrow {
    line-height: 0;
    position: absolute;
    top: 100%;
    left: 0;
    width: 1px;
    height: 0;
    border-top: 10px solid #ad3608;
    border-left: 16px solid transparent
}

.clear-fix{
    clear: both;
}
