header {
    font-family: "steiner","Courier New";
    font-weight: bolder;
    margin-bottom: 20px;
    background-color: #77b8bf;
    .logo:hover {
        text-decoration: none;
    }
    .logo h1 {
        font-family: inherit; //'Courier New', Courier, monospace;
        color: #fff;
        letter-spacing: 4px;
        text-transform: lowercase;
        font: 3rem;
    }
    .author {
        .info {
            display: inline-block;
            margin: 8px 10px 0 0;
            vertical-align: top;
            color: #fff;
            h1,h2{
                text-align: right;
            }
            h1 {
                font-size: 1.1rem;

            }
            h2 {
                font-size: 0.5rem;
            }
            .pic {
                display: inline-block;
                width: 66px;
                height: 70px;
                border-radius: 35px;
                background: url("/resource/image/me_small.png") right top no-repeat;
                background-size: contain;
            }
        }
    }
}
.content-fauxcolumn-outer,
.content-outer,
.header-content,
.region-inner {
    max-width: 1250px;
    margin: 0 auto;
}
