<section class="showcase bg-primary">
    <div class="container grid">
        <div class="showcase-text">
            <h1>Welcome To The Club!</span></h1>
            <p>
                Join this premium club for Developers! We write articles on Web Developments. All Articles and tutorials
                on this website are free to use and share.
            </p>
            {% include app/social.html %}
        </div>
        <div class="card">
            <img src="{{site.baseurl}}/assets/images/undraw_completed_tasks_vs6q.png" />
        </div>
    </div>
</section>
